.App {
  text-align: center;
background-color: #e8ebf0;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav {
border-bottom: #fbb0e4 solid;
box-shadow: rgb(250, 69, 129) 1px 3px 15px 3px;
padding-bottom: 40px;
margin-bottom: 40px;
background-color: rgb(255, 194, 214);
font-family: 'Andale Mono';
font-weight: 900;
color: white;
text-shadow: #282c34 1px 2px 3px ;
margin-top: -26px;
}
.nav h4 {
  font-size: larger;
  margin-right: 25px;
}

.nav a{
  margin: auto 3em;
  padding: 5px 10px;
  border: solid;
  border-radius: 3px;
  padding: 8px;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
text-shadow: rgb(250, 69, 129) 1px 2px 3px ;
}
p {
  font-weight: 800;
}
h5 {
  font-size: large;
  font-style: oblique ;
}
.stock-img :hover{
  box-shadow: #282c34 1px 1px 9px 6px ;
  
}

.home {
  font-size: 50px;
  font-family: 'Andale Mono';
  text-shadow: rgb(250, 69, 129) 1px 2px 3px ;
  color: white;
}

.page-break {
  height: 1px;
  width: 50%;
  margin-top: -40px;
  border: 1px solid #070707;
}
.blob {
  word-spacing: 3px;
  font-size: 35px;
display: block;
  width: 680px;

  letter-spacing: 2px;
  margin-bottom: 40px;
  padding-bottom: 50px;
  margin-left: 575px;
  text-shadow: pink 2px 2px 5px ;
}
.blob p {
  text-align: center;
}