.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav {
border-bottom: #ffc3ed solid;
box-shadow: rgb(238, 200, 200) 1px 5px 6px;
padding-bottom: 40px;
margin-bottom: 40px;
background-color: rgb(255, 194, 214);
font-family: 'Andale Mono';
font-weight: 900;
color: white;
text-shadow: #282c34 1px 2px 3px ;
margin-top: -26px;
}
.nav h4 {
  font-size: larger;
  margin-right: 25px;
}

.nav a{
  margin: auto 3em;
  padding: 5px 10px;
  border: solid;
  border-radius: 3px;
  padding: 8px;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
text-shadow: rgb(250, 69, 129) 1px 2px 3px ;
}
p {
  font-weight: 800;
}
h5 {
  font-size: large;
  font-style: oblique ;
}
.stock-img :hover{
  box-shadow: #282c34 1px 1px 9px 6px ;
  
}